[submodule "online_poker_app"]
	path = online_poker_app
	url = https://github.com/OndrejBelza/online_poker_app.git
[submodule "online_poker_api"]
	path = online_poker_api
	url = https://github.com/OndrejBelza/online_poker_api.git
